<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2l54SSxfQpq3rjx1FolvUoeCLnKRXdx0</string>
	<key>GCM_SENDER_ID</key>
	<string>584820478086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>void.FirebaseAnalyticsTest</string>
	<key>PROJECT_ID</key>
	<string>fir-analyticstest-6da16</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-analyticstest-6da16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584820478086:ios:819bafea9fdf5730c74107</string>
</dict>
</plist>